/* line 8, ../sass/style.sass */
.ad-skin-window-wrap {
  position: relative !important;
  overflow: hidden;
  font-family: helvetica, arial, sans-serif;
  font-size: 14px;
}
/* line 14, ../sass/style.sass */
.ad-skin-window-wrap .message.expanded, .ad-skin-window-wrap .message.collapsed {
  display: none;
}
/* line 18, ../sass/style.sass */
.ad-skin-window-wrap.expanded .ad-btn.collapse {
  display: inline !important;
}
/* line 20, ../sass/style.sass */
.ad-skin-window-wrap.expanded .message.expanded {
  display: inherit;
}
/* line 24, ../sass/style.sass */
.ad-skin-window-wrap.collapsed .ad-btn.expand {
  display: inline !important;
}
/* line 26, ../sass/style.sass */
.ad-skin-window-wrap.collapsed .message.collapsed {
  display: inherit;
}
/* line 29, ../sass/style.sass */
.ad-skin-window-wrap .ad-skin-window {
  position: relative;
  display: block;
}
/* line 33, ../sass/style.sass */
.ad-skin-window-wrap .ad-btn {
  display: none;
  padding: 10px;
  font-size: 12px;
  color: white;
  text-shadow: 1px 1px black;
  font-family: helvetica, arial, sans-serif;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}
/* line 52, ../sass/style.sass */
.ad-skin-window-wrap .ad-transition-height {
  -webkit-transition-property: height;
  -moz-transition-property: height;
  -o-transition-property: height;
  transition-property: height;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

/* line 56, ../sass/style.sass */
.ad-skin-click-area {
  width: 100%;
  display: block;
}

/* line 61, ../sass/style.sass */
#slug_pushdown .adnoDisplay {
  display: block !important;
  visibility: visible !important;
}
