<div class="dev-element" id="shell" style="background-color:#eee;width:1000px;margin:0 auto;padding:10px">
  <h1>Some title</h1>
  <div id="slug_pushdown"></div>
  <div style="padding-top:30px;">
    <p>Curabitur blandit tempus porttitor. Cras mattis consectetur purus sit amet fermentum. Nullam id dolor id nibh ultricies vehicula ut id elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla. Donec sed odio dui. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>

    <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Nullam quis risus eget urna mollis ornare vel eu leo. Nulla vitae elit libero, a pharetra augue. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>

    <p>Curabitur blandit tempus porttitor. Sed posuere consectetur est at lobortis. Aenean lacinia bibendum nulla sed consectetur. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed odio dui. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>

    <p>Aenean lacinia bibendum nulla sed consectetur. Nullam quis risus eget urna mollis ornare vel eu leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam quis risus eget urna mollis ornare vel eu leo. Nullam quis risus eget urna mollis ornare vel eu leo. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>

    <p>Curabitur blandit tempus porttitor. Cras mattis consectetur purus sit amet fermentum. Nullam id dolor id nibh ultricies vehicula ut id elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla. Donec sed odio dui. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>

    <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Nullam quis risus eget urna mollis ornare vel eu leo. Nulla vitae elit libero, a pharetra augue. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>

    <p>Curabitur blandit tempus porttitor. Sed posuere consectetur est at lobortis. Aenean lacinia bibendum nulla sed consectetur. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed odio dui. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>

    <p>Aenean lacinia bibendum nulla sed consectetur. Nullam quis risus eget urna mollis ornare vel eu leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam quis risus eget urna mollis ornare vel eu leo. Nullam quis risus eget urna mollis ornare vel eu leo. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
  </div>
  <script src="http://js.washingtonpost.com/wpost/js/combo?token=20121010232000&c=true&m=true&context=eidos&r=/jquery-1.7.1.js"></script>
</div>

<script>

  var wpAd = wpAd || {};

  (function($){
    'use strict';

    if(!$){return;}

    //var inFIF = window.self != window.top && window.parent && window.parent.document || false;

    $(function(){

      $('head').append('<link rel="stylesheet" type="text/css" href="<%= urls.css %>" />');

      $.ajax({
        cache: true,
        crossDomain: true,
        dataType: 'script',
        error: function(e){
          if(window.console){
            console.log(e);
          }
        },
        success: init,
        timeout: 3000,
        url: '<%= urls.js %>'
      });

      function init(){
        wpAd.adscapeConfig = {
          adid: parseInt('%eaid!', 10) || false,
          imageURL: '<%= imageURL %>',
          clickTracker: '<%= clickTracker %>',
          clickTrackerEsc: '<%= clickTrackerEsc %>',
          clickTag: '<%= clickTag %>',
          colHeight: '<%= colHeight %>',
          expHeight: '<%= expHeight %>',
          skinTopMargin: '<%= skinTopMargin %>',
          timeOpen: <%= timeOpen %>,
          auto: <%= auto %>,
          bodyBgColor: '<%= bodyBgColor %>',

          collapsedMessageHTML: '<%= collapsedMessageHTML %>',
          collapsedMessageCSS: {<%= collapsedMessageCSS %>},

          expandedMessageHTML: '<%= expandedMessageHTML %>',
          expandedMessageCSS: {<%= expandedMessageCSS %>},

          autoExpDelay: <%= autoExpDelay %>,
          expandLanguage: '<%= expandLanguage %>',
          closeLanguage: '<%= closeLanguage %>',
          fullWidthColAdscape: <%= fullWidthColAdscape %>,

          impressionPixels: ['<%= impressionPixels %>'],
          trackExpClick: ['<%= trackExpClick %>'],
          trackCloseClick: ['<%= trackCloseClick %>'],

          pageContainer: '<%= pageContainer %>',
          adscapeContainer: '<%= adscapeContainer %>',
          pageStyleOverrides: {<%= pageStyleOverrides %>},
          animSpeed: <%= animSpeed %>
        };

        <%= JSOverrides %>

        wpAd.adscape = new wpAd.Adscape(wpAd.adscapeConfig);
      }

    });

  })(window.jQuery);
</script>
